{% extends 'base/base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'ajax_site/scripts/index_page.js' %}" defer></script>
{% endblock %}

{% block main %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Просто проверка того, что JS-скрипты подключаются корректно</h5>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Проверить работу скриптов на странице</button>
      </div>
    </div>
  </div>
{% endblock %}
